:root{
  --font: 'Montserrat', sans-serif;
  --color-white: #FFF;
  --color-black: #000;
  --color-gray: #E2E2E2;
}

body {
  margin: 0;
  height: 100vh;
  font-family: var(--font);
  background-color: var(--color-white);
}